version: '3.8'
services:
  db:
    image: postgres:13
    ports:
      - '5431:5431'
    environment:
      - 'POSTGRES_USER=postgres'
      - 'POSTGRES_DB=is'
      - 'POSTGRES_PASSWORD=postgres'
    command: -p 5431

  minio:
    image: quay.io/minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    volumes:
      - ./data:/data
    command: server /data --console-address ":9001"
